<div class="container-fluid header-body">

  <div class="row">

    <div class="col-sm-1">
        <img src="../../assets/img/pickwinColores-50.png">
    </div>

    <div class="col-sm-2 col-sm-offset-9">
      <table>
        <tr>
          <td class="register">
            <a href="#">
            <span class="icon glyphicon glyphicon-user"></span>
            <span>&nbsp;&nbsp;REGÍSTRATE</span>
            </a>
          </td>
          <td class="log-in">
            <a href="#">
            <span class="icon glyphicon glyphicon-log-in"></span>
            <span>&nbsp;&nbsp;INGRESAR</span>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>


<br><br>
<div class="container-fluid">

  <hr>
  <app-modal-basic></app-modal-basic>
</div>
